# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Streamlit Secrets
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Logs
*.log

# Data Files
*.csv
*.xlsx

# OS
.DS_Store
Thumbs.db